# Computer Graphics
pygame

# Mathematical Computing
statsmodels
numpy
pandas
matplotlib

# Graph Algorithms
networkx

# Quantum Algorithms
qiskit

# Perlin Noise
noise

# GPT
openai

# Other Utils
opencv-python
pdf2image
pillow
requests
keyring