# Computer Graphics
pygame

# Mathematical Computing
statsmodels
numpy
pandas
matplotlib

# Graph Algorithms
networkx
graphviz

# Quantum Algorithms
qiskit

# Perlin Noise
noise

# Deep Learning
openai
torch
opencv-python

# Other Utils
pdf2image
pillow
requests
keyring