# Computer Graphics
pygame

# Mathematical Computing
statsmodels
numpy
pandas
matplotlib

# Graph Algorithms
networkx
graphviz

# Quantum Algorithms
qiskit

# Perlin Noise
noise

# Deep Learning
openai
torch
opencv-python

# Trading Platform
alpaca-py

# Importing API keys
keyring

# Parsing data from web
requests
lxml
beautifulsoup4

# Image Processing
pdf2image
pillow